<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.trang.statemachine.mapper.HousedelMapper">
    <resultMap id="BaseResultMap" type="com.github.trang.statemachine.model.domain.Housedel">
        <!-- WARNING - @mbg.generated -->
        <id column="housedel_code" jdbcType="BIGINT" property="housedelCode"/>
        <result column="del_type" jdbcType="INTEGER" property="delType"/>
        <result column="del_status" jdbcType="INTEGER" property="delStatus"/>
        <result column="two_dimension" jdbcType="VARCHAR" property="twoDimension"/>
        <result column="house_id" jdbcType="BIGINT" property="houseId"/>
        <result column="standard_house_id" jdbcType="BIGINT" property="standardHouseId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="price_change_type" jdbcType="INTEGER" property="priceChangeType"/>
        <result column="del_grade" jdbcType="VARCHAR" property="delGrade"/>
        <result column="grade_reason" jdbcType="VARCHAR" property="gradeReason"/>
        <result column="sale_reason" jdbcType="VARCHAR" property="saleReason"/>
        <result column="is_intercommunity" jdbcType="CHAR" property="isIntercommunity"/>
        <result column="is_unique" jdbcType="CHAR" property="isUnique"/>
        <result column="guaranty_info" jdbcType="VARCHAR" property="guarantyInfo"/>
        <result column="guaranty_money" jdbcType="DECIMAL" property="guarantyMoney"/>
        <result column="guaranty_bank" jdbcType="VARCHAR" property="guarantyBank"/>
        <result column="guaranty_repay_type" jdbcType="VARCHAR" property="guarantyRepayType"/>
        <result column="residence_status" jdbcType="VARCHAR" property="residenceStatus"/>
        <result column="marriage" jdbcType="VARCHAR" property="marriage"/>
        <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice"/>
        <result column="payment_mode" jdbcType="VARCHAR" property="paymentMode"/>
        <result column="guide_price" jdbcType="DECIMAL" property="guidePrice"/>
        <result column="register_time" jdbcType="DATE" property="registerTime"/>
        <result column="register_photo" jdbcType="VARCHAR" property="registerPhoto"/>
        <result column="purchase_time" jdbcType="DATE" property="purchaseTime"/>
        <result column="purchase_photo" jdbcType="VARCHAR" property="purchasePhoto"/>
        <result column="deed_time" jdbcType="DATE" property="deedTime"/>
        <result column="deed_photo" jdbcType="VARCHAR" property="deedPhoto"/>
        <result column="rent_type" jdbcType="VARCHAR" property="rentType"/>
        <result column="rent_deadline" jdbcType="VARCHAR" property="rentDeadline"/>
        <result column="rent_pay_way" jdbcType="VARCHAR" property="rentPayWay"/>
        <result column="rent_facility" jdbcType="VARCHAR" property="rentFacility"/>
        <result column="house_status" jdbcType="VARCHAR" property="houseStatus"/>
        <result column="rent_end_date" jdbcType="VARCHAR" property="rentEndDate"/>
        <result column="rent_name_phone" jdbcType="VARCHAR" property="rentNamePhone"/>
        <result column="status_remark" jdbcType="VARCHAR" property="statusRemark"/>
        <result column="fitment_status" jdbcType="VARCHAR" property="fitmentStatus"/>
        <result column="special_remark" jdbcType="VARCHAR" property="specialRemark"/>
        <result column="creator_ucid" jdbcType="BIGINT" property="creatorUcid"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="creator_org_code" jdbcType="VARCHAR" property="creatorOrgCode"/>
        <result column="creator_role" jdbcType="VARCHAR" property="creatorRole"/>
        <result column="created_time" jdbcType="DATE" property="createdTime"/>
        <result column="holder_ucid" jdbcType="BIGINT" property="holderUcid"/>
        <result column="holder_name" jdbcType="VARCHAR" property="holderName"/>
        <result column="holder_org_code" jdbcType="VARCHAR" property="holderOrgCode"/>
        <result column="holder_role" jdbcType="VARCHAR" property="holderRole"/>
        <result column="holder_time" jdbcType="DATE" property="holderTime"/>
        <result column="appro_broker_ucid" jdbcType="BIGINT" property="approBrokerUcid"/>
        <result column="appro_broker_name" jdbcType="VARCHAR" property="approBrokerName"/>
        <result column="appro_broker_org_code" jdbcType="VARCHAR" property="approBrokerOrgCode"/>
        <result column="appro_broker_role" jdbcType="VARCHAR" property="approBrokerRole"/>
        <result column="appro_broker_time" jdbcType="DATE" property="approBrokerTime"/>
        <result column="key_broker_ucid" jdbcType="BIGINT" property="keyBrokerUcid"/>
        <result column="key_broker_name" jdbcType="VARCHAR" property="keyBrokerName"/>
        <result column="key_broker_org_code" jdbcType="VARCHAR" property="keyBrokerOrgCode"/>
        <result column="key_broker_role" jdbcType="VARCHAR" property="keyBrokerRole"/>
        <result column="key_broker_time" jdbcType="DATE" property="keyBrokerTime"/>
        <result column="fast_broker_ucid" jdbcType="BIGINT" property="fastBrokerUcid"/>
        <result column="fast_broker_name" jdbcType="VARCHAR" property="fastBrokerName"/>
        <result column="fast_broker_org_code" jdbcType="VARCHAR" property="fastBrokerOrgCode"/>
        <result column="fast_broker_role" jdbcType="VARCHAR" property="fastBrokerRole"/>
        <result column="fast_broker_time" jdbcType="DATE" property="fastBrokerTime"/>
        <result column="sign_broker_ucid" jdbcType="BIGINT" property="signBrokerUcid"/>
        <result column="sign_broker_name" jdbcType="VARCHAR" property="signBrokerName"/>
        <result column="sign_broker_time" jdbcType="DATE" property="signBrokerTime"/>
        <result column="hurry_status" jdbcType="INTEGER" property="hurryStatus"/>
        <result column="hurry_time" jdbcType="DATE" property="hurryTime"/>
        <result column="focus_status" jdbcType="INTEGER" property="focusStatus"/>
        <result column="focus_time" jdbcType="DATE" property="focusTime"/>
        <result column="special_status" jdbcType="INTEGER" property="specialStatus"/>
        <result column="special_time" jdbcType="DATE" property="specialTime"/>
        <result column="pause_status" jdbcType="INTEGER" property="pauseStatus"/>
        <result column="pause_time" jdbcType="DATE" property="pauseTime"/>
        <result column="invalid_status" jdbcType="INTEGER" property="invalidStatus"/>
        <result column="invalid_time" jdbcType="DATE" property="invalidTime"/>
        <result column="serial_status" jdbcType="INTEGER" property="serialStatus"/>
        <result column="serial_time" jdbcType="DATE" property="serialTime"/>
        <result column="overdue_warn_status" jdbcType="INTEGER" property="overdueWarnStatus"/>
        <result column="overdue_warn_time" jdbcType="DATE" property="overdueWarnTime"/>
        <result column="updated_ucid" jdbcType="BIGINT" property="updatedUcid"/>
        <result column="updated_name" jdbcType="VARCHAR" property="updatedName"/>
        <result column="updated_time" jdbcType="DATE" property="updatedTime"/>
        <result column="is_limit_buy" jdbcType="CHAR" property="isLimitBuy"/>
        <result column="house_usage" jdbcType="VARCHAR" property="houseUsage"/>
        <result column="fast_broker_type" jdbcType="INTEGER" property="fastBrokerType"/>
        <result column="office_address" jdbcType="INTEGER" property="officeAddress"/>
        <result column="add_resource" jdbcType="VARCHAR" property="addResource"/>
        <result column="del_source_sup" jdbcType="VARCHAR" property="delSourceSup"/>
        <result column="del_source_sub" jdbcType="VARCHAR" property="delSourceSub"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="owner_weixin" jdbcType="VARCHAR" property="ownerWeixin"/>
        <result column="owner_mobile_phone1" jdbcType="VARCHAR" property="ownerMobilePhone1"/>
        <result column="owner_mobile_phone2" jdbcType="VARCHAR" property="ownerMobilePhone2"/>
        <result column="owner_home_phone" jdbcType="VARCHAR" property="ownerHomePhone"/>
        <result column="linker_other_name" jdbcType="VARCHAR" property="linkerOtherName"/>
        <result column="linker_other_mobile_phone" jdbcType="VARCHAR" property="linkerOtherMobilePhone"/>
        <result column="linker_other_relation" jdbcType="VARCHAR" property="linkerOtherRelation"/>
        <result column="appro_time" jdbcType="VARCHAR" property="approTime"/>
        <result column="ordinary_broker_ucid" jdbcType="BIGINT" property="ordinaryBrokerUcid"/>
        <result column="ordinary_broker_name" jdbcType="VARCHAR" property="ordinaryBrokerName"/>
        <result column="ordinary_broker_org_code" jdbcType="VARCHAR" property="ordinaryBrokerOrgCode"/>
        <result column="ordinary_broker_role" jdbcType="VARCHAR" property="ordinaryBrokerRole"/>
        <result column="ordinary_broker_time" jdbcType="DATE" property="ordinaryBrokerTime"/>
        <result column="msg_check" jdbcType="VARCHAR" property="msgCheck"/>
        <result column="is_pool" jdbcType="INTEGER" property="isPool"/>
        <result column="del_grade_time" jdbcType="DATE" property="delGradeTime"/>
        <result column="login_client" jdbcType="BIT" property="loginClient"/>
        <result column="build_area" jdbcType="DECIMAL" property="buildArea"/>
        <result column="high_unit_price_reason" jdbcType="VARCHAR" property="highUnitPriceReason"/>
        <result column="inventory_score" jdbcType="REAL" property="inventoryScore"/>
        <result column="vote_count" jdbcType="INTEGER" property="voteCount"/>
        <result column="price_update_time" jdbcType="DATE" property="priceUpdateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        <!-- WARNING - @mbg.generated -->
        housedel_code, del_type, del_status, two_dimension, house_id, standard_house_id, price,
        price_change_type, del_grade, grade_reason, sale_reason, is_intercommunity, is_unique, guaranty_info,
        guaranty_money, guaranty_bank, guaranty_repay_type, residence_status, marriage, purchase_price,
        payment_mode, guide_price, register_time, register_photo, purchase_time, purchase_photo, deed_time,
        deed_photo, rent_type, rent_deadline, rent_pay_way, rent_facility, house_status, rent_end_date,
        rent_name_phone, status_remark, fitment_status, special_remark, creator_ucid, creator_name,
        creator_org_code, creator_role, created_time, holder_ucid, holder_name, holder_org_code, holder_role,
        holder_time, appro_broker_ucid, appro_broker_name, appro_broker_org_code, appro_broker_role,
        appro_broker_time, key_broker_ucid, key_broker_name, key_broker_org_code, key_broker_role,
        key_broker_time, fast_broker_ucid, fast_broker_name, fast_broker_org_code, fast_broker_role,
        fast_broker_time, sign_broker_ucid, sign_broker_name, sign_broker_time, hurry_status, hurry_time,
        focus_status, focus_time, special_status, special_time, pause_status, pause_time, invalid_status,
        invalid_time, serial_status, serial_time, overdue_warn_status, overdue_warn_time, updated_ucid,
        updated_name, updated_time, is_limit_buy, house_usage, fast_broker_type, office_address, add_resource,
        del_source_sup, del_source_sub, owner_name, owner_weixin, owner_mobile_phone1, owner_mobile_phone2,
        owner_home_phone, linker_other_name, linker_other_mobile_phone, linker_other_relation, appro_time,
        ordinary_broker_ucid, ordinary_broker_name, ordinary_broker_org_code, ordinary_broker_role,
        ordinary_broker_time, msg_check, is_pool, del_grade_time, login_client, build_area,
        high_unit_price_reason, inventory_score, vote_count, price_update_time
    </sql>
</mapper>